{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Bonjour, Na ngua def</h1>
  <p class="lead">Système de gestion hospitalière</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/patientsignup" role="button">S'inscrire</a>
    <a class="btn btn-success btn-lg" href="/patientlogin" role="button">Se connecter</a>
  </p>
</div>

{% endblock content %}
